<!DOCTYPE html>
<html>
  <head>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/calendar.css" />
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/editModal.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <link rel="stylesheet" href="/stylesheets/introModal.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="https://unpkg.com/ejs@3.1.6/ejs.min.js"></script>
    <script defer src="/javascripts/frontEnd.js"></script>
    
  </head>
  <body onload="renderFunc('<%= user.percent %>', '<%= user.displayVal %>')" >

    <!-- navbar  -->
    <nav class= "top-bar">
      <h1 class="title">BettrMe</h1>
        <% if (user) { %>
          <div class='logout'><a class = 'login' href="/logout"><i class="material-icons left"></i>Log Out</a> <img class= 'dp' src="<%= user.avatar %>" alt=""></div>
        <% } else { %>
          <a class = "login" href="/auth/google"><i class="material-icons left"></i>Login</a>
        <% } %>
        
    </nav>
    <!-- secondary navbar -->
    <nav class="second">
      <div class="time">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="clock" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
      </svg>
      <div id="currentTime"></div>
    </div>
    <div class='top-message'>Good <span class="time-word"> Morning </span>
      <%= user.name.split(" ")[0] %>. 
      <div class="progress-message">
      <% if(!user.today.length){ %>
        &nbsp You can set new goals by clicking the green button! 
        
      <% } else if(!parseInt(user.percent)){ %>
        Time to get started on those goals!
        <% } %>
      </div>
    </div>
   <div class="progress-section-container">
      <div class = 'progress-container'>
        <div class='progress-percent'> <%= user.percent %></div>
        <div class='progress-meter'>
          <div class="progress-fill" style=" width: <%= user.percent %>"> </div>
        </div>
      </div>
    </div>
    </nav>

    <!-- non-navbar content starts -->
   <div class="main-wrapper">

    <!-- sidebar -->
     <div class="sidebar">
        <div id="side-goal-list">
          <p>streak= <%=user.streak %></p>
  <% user.today.forEach(function(g) { %>
          <div class="side-goal-container">
            <div class="side-goal-activity">
              <p> <%= g.activity %></p>
            </div>
            <div class="side-goal-links">
              <a onclick= "showEditModal(event)" data-activity-id="<%= g.activity %>" data-id="<%= g.id %>" class="edit-btn">Edit</a>
            </div>
          </div>
    <% }); %>
</div>
<div id= side-btn-div>
<button class="modal-btn">Create New Goal</button>
</div>
     </div>

     <!-- calendar -->
     <div class="calendar-wrapper">
        <div class="calendar">
          <div class="calendar-top">
           
          </div>

          <div class="calendar-body">
            <div class="calendar-side"   onclick="prevDay(event)" id="calendar-left" queryUser = "<%= user.id %>">

              <svg class="arrow" id="arrow-left"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>
            </div>
            <div class="goal-list">              
              <div id='display'>
                
                <% user.displaying.forEach(function(g, i) { %>                
                  <div class='goal-container'>                      
                    <button onclick="<%= user.displayVal ? '' : 'toggler(event)' %>" style="<%= user.displayVal ? 'cursor:default' : '' %>" dataId='<%= g.id %>' queryUser='<%= user.id %>' class='checkbox' >
                        <% if (g.completed){ %>
                        <img class = 'checkmark ' src='images/checkmark 3.png'>
                        <% } else { %>
                        <img class = 'checkmark invisible' src='images/checkmark 3.png'>
                        <% } %>
                    </button>
                    <p> <%= g.activity %> </p>
                  </div>
                <hr class='goal-divider'>               
                <% }); %>
              </div>
            </div>
            
            <div class="calendar-side" id="calendar-right" onclick="nextDay(event)" queryUser = "<%= user.id %>" currentDay = "0">

            <svg class="arrow" id="arrow-right" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </div>

          </div>
        </div>
     </div>

     <!-- quote section -->
     <div class="quote">
      <p class="quote-text"> He who conquers himself is the mightiest warrior   </p> 
      <p class="author">— Confucius </p>
     </div>
   </div>

   <!-- create modal -->
    <div class="modal-bg ">
      <div class="edit-modal"> 
        <div class="l-margin margin">
          <div class="hole first-hole"></div>
          <div class="hole second-hole"></div>
          <div class="hole third-hole"></div>
        </div>
        <div class="r-margin margin"></div>
        <div class="modal-title">
          <span class="card-title">Enter your new Goal  :</span>
        </div>
        <div class="edit-info-container">
          <form action="/" method="post">
            <input autocomplete="off" id="modal-input" type="text" name="activity" >
            <div class="edit-btn-container">
            <button class="edit-submit" type="submit">Submit</button>
            </div>
            <div class="modal-close">
              <span >x</span>
            </div>
          </form>
        </div>
      </div>
    </div>
       
      <!-- edit modal -->
    <div class="edit-modal-bg ">
      <div class="edit-modal">
        <div class="l-margin margin">
          <div class="hole first-hole"></div>
          <div class="hole second-hole"></div>
          <div class="hole third-hole"></div>
        </div>
        <div class="r-margin margin"></div>
        <div class="modal-title">
          <span class="card-title">Edit Goal  :</span>
        </div>
        <div class="edit-info-container">
          <input autocomplete="off" id="edit-modal-input" type="text" name="activity">
          <div class="edit-modal-close">
            <span >x</span>
          </div>
        </div>
          <!-- buttons -->
        <div class="edit-btn-container">
          <button onclick ="deleteObject(event)" queryUser= "<%= user.id %>"  class="delete edit-submit">Delete</button>
          <button onclick ="confirmEdit(event)" queryUser= "<%= user.id %>"  class="edit-submit">Edit</button>
        </div>
      </div>
    </div>
              
              <!-- intro modal -->
    <%if(!user.wakeUp) { console.log("oof")%>
      <div class="intro-modal-bg bg-active">
        <div class="intro-modal">  
          <div class="intro-modal-title"> 
            Welcome to BettrMe! 
          </div>
          <div class="message-container">
            <div class="intro-message">
              This app is designed to help you improve yourself! </br></br>Forming healthy habits is a great way improve quality of life and become the person you want to be! </br> </br> Let's start by getting to know you a bit better: 
            </div>
          </div>
          <form class="intro-form" action="/intro/<%= user.id %>?_method=PUT" method="POST">
            
            <div class="prompt">
              What should we call you?
            </div>
            <input autocomplete="off" class="intro-modal-input" type="text" name="name" >
            <div class="prompt ">
              What time do you typically start your day?
            </div>
              <div class="time-input-container">
              <input class="intro-modal-input wake-up"  type="time" name="wakeUp" >
              <label for="meridian"></label>            
              <select name="meridian" id="meridian">
                <option value="am">AM</option>
                <option value="pm">PM</option>
              </select>
              </div>
            <div class="intro-btn-container">
              <button type="submit" queryUser= "<%= user.id %>"  class="intro-submit">Begin</button>
            </div>
              
          
        </form>
      </div>
    </div>
  <% } %>
              
             
             
         

      

      

    </div>
  </div>

  </body>
  
  </html>
 