<!DOCTYPE html>
<html>
  <head>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/calendar.css" />
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/editModal.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <link rel="stylesheet" href="/stylesheets/introModal.css">
    <link rel="stylesheet" href="/stylesheets/rightSide.css">
    
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="https://unpkg.com/ejs@3.1.6/ejs.min.js"></script>
    <script defer src="/javascripts/frontEnd.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    

  </head>
  <body onload="renderFunc('<%= user.percent %>', '<%= user.displayVal %>', '<%= user.totalDaysElapsed %>')" >

    <!-- navbar  -->
    <nav class= "top-bar">
      <h1 class="title">BettrMe</h1>
        <% if (user) { %>
          <div class='logout'><a class = 'login' href="/logout"><i class="material-icons left"></i>Log Out</a> <img class= 'dp' src="<%= user.avatar %>" alt=""></div>
        <% } else { %>
          <a class = "login" href="/auth/google"><i class="material-icons left"></i>Login</a>
        <% } %>
        
    </nav>
    <!-- secondary navbar -->
    <nav class="second">
      <div class="time">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="clock" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
      </svg>
      <div id="currentTime"><%= newTime %></div>
    </div>
    <div class='top-message'>Good <span class="time-word"> <%= timeWord %></span>
      <%= user.name.split(" ")[0] %>. 
      <div class="progress-message">
      <%- msg %>
      </div>
    </div>
   <div class="progress-section-container">
      <div class = 'progress-container'>
        <div class='progress-percent'> <%= user.percent %></div>
        <div class='progress-meter'>
          <div class="progress-fill" style=" width: <%= user.percent %>"> </div>
        </div>
      </div>
    </div>
    </nav>

    <!-- non-navbar content starts -->
   <div class="main-wrapper">

    <!-- sidebar -->
     <div class="sidebar">
        <div id="side-goal-list">
         
  <% user.today.forEach(function(g) { %>
          <div class="side-goal-container">
            <div class="side-goal-activity">
              <p> <%= g.activity %></p>
            </div>
            <div class="side-goal-links">
              <a onclick= "showEditModal(event)" data-activity-id="<%= g.activity %>" data-id="<%= g.id %>" queryUser="<%= user.id %>" infoStage="<%= user.infoStage %>" class="<%= parseInt(user.infoStage) === 1 ? 'edit-btn pulse' : 'edit-btn ' %>">Edit</a>
            </div>
          </div>
    <% }); %>
</div>
<div id= side-btn-div>
  <% console.log(user.infoStage) %>
<button onclick="stopAnimation()" class="<%= parseInt(user.infoStage) === 0 ? 'modal-btn createPulse' : 'modal-btn ' %>">Create New Goal</button>
</div>
     </div>

     <!-- calendar -->
     <div class="calendar-wrapper">
        <div class="calendar">
          <div class="calendar-top">
            <% if( user.displayVal === -1){ %>
              Yesterday
            <% } else if ( user.displayVal === 0){ %>
              <%= time %>             
            <% } else { %>
              Tomorrow
            <% } %>
          </div>

          <div class="calendar-body">
            <div class="calendar-side"   onclick="prevDay(event)" id="calendar-left" queryUser = "<%= user.id %>">

              <svg class="arrow" id="arrow-left"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>
            </div>
            <div class="goal-list">              
              <div id='display'>
                
                <% user.displaying.forEach(function(g, i) { %>                
                  <div class='goal-container'>                      
                    <button onclick="<%= user.displayVal ? '' : 'toggler(event)' %>" style="<%= user.displayVal ? 'cursor:default' : '' %>" dataId='<%= g.id %>' queryUser='<%= user.id %>' infoStage="<%= user.infoStage %>" class="<%= parseInt(user.infoStage) === 2 ? 'checkbox checkboxPulse' : 'checkbox' %>" >
                        <% if (g.completed){ %>
                        <img class = 'checkmark ' src='images/checkmark 3.png'>
                        <% } else { %>
                        <img class = 'checkmark invisible' src='images/checkmark 3.png'>
                        <% } %>
                    </button>
                    <p> <%= g.activity %> </p>
                  </div>
                <hr class='goal-divider'>               
                <% }); %>
              </div>
            </div>
            
            <div class="calendar-side" id="calendar-right" onclick="nextDay(event)" queryUser = "<%= user.id %>" currentDay = "0">

            <svg class="arrow" id="arrow-right" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </div>

          </div>
        </div>
     </div>

     <!-- right-side -->
     <div class="right-side-container">
       <div class="streak-val-container">
        <div class="streak-val-box">
        
        <p>Streak : <%=user.streak %></p>
        <% if(user.streak){ %>
        <!-- <img src="images/fire.png" class='fire' alt=""> -->
        <span> 🔥 </span>
        <% } %>
        </div>
       </div>
       <div class="streak-visual-container">
        <div class="streak-visual-box">
          <div class="box-header">
            30-day Challenge
          </div>
          <div class="streak-visual-wrapper">
            <div class="streak-visual">
              
              <% for(i = 0; i < 30 ; i++){ %> 
                <% if(i === 0){ %>
                  <div class="streak-visual-day no-top no-left">
                <% }else if(i > 0 && i < 5){ %>
                  <div class="streak-visual-day no-top ">
                <% } else if(i === 5){%>
                  <div class="streak-visual-day no-top no-right">
                <% } else if(i === 6 || i === 12 || i === 18 ){%>
                  <div class="streak-visual-day no-left">
                <% } else if(i === 5 || i === 11 || i === 17 || i === 23){ %>
                  <div class="streak-visual-day no-right">
                <% } else if(i > 24 && i < 29){ %>

                  <div class="streak-visual-day no-bottom">
                <% } else if(i === 24){ %>

                  <div class="streak-visual-day no-bottom no-left"> 
                <% } else if(i === 29){ %>

                  <div class="streak-visual-day no-bottom no-right">   
                <%} else{ %>
                <div class="streak-visual-day">
                <% } %>
                <% if(i < user.streak){ %>
                  <div class="red-circle"></div>
                  <% } %>
                </div>
              <% } %>
            </div>
          </div>
        </div>
       </div>
       <div class="info-div-container">
         <div class="<%= parseInt(user.infoStage) < 5 ? 'info-div-box border-red' : 'info-div-box'%>">
          <div class="<%= parseInt(user.infoStage) < 5 ? 'info-box-header info-red' : 'info-box-header'%>" >
            info
          </div>
          <div class="info-container">
            <div class="<%= parseInt(user.infoStage) < 5 ? 'info-pulse' : 'info'%>">
            <% if(!user.infoStage){ %>
              You can create new goals by clicking the <span class="green"> big green button </span>(or whatever color kioko chooses) in the bottom left corner of the screen. Let's create our first daily goal!
              <% } else if(user.infoStage === 1){ %>
                Congrats on creating your first goal! To <span class="green"> modify </span> or <span class="red"> delete </span> a goal, click the edit button matching the goal you want to change.
              <% } else if(user.infoStage === 2){ %>
                You're getting the hang of it! Once you complete a daily goal, you can click the <span class="grey"> grey box </span> beside that goal to mark it as complete. Give it a try, just for fun :) 
              <% } else if(user.infoStage === 3){ %>
                If you complete all of your daily goals, your streak will be increased by 1 when you come back tomorrow! Click <button class="edit-btn smol" onclick="streakDemo(event)" queryUser="<%= user.id %>">here</button> to see what it looks like when you build a big streak!
              <% } else if(user.infoStage === 4){ %>
                Now that you know the ropes, your journey of self-improvement can begin! Click <button class="edit-btn smol" onclick="resetStreak(event)" queryUser="<%= user.id %>">here</button> to set your streak back to normal. From now on this box will provide interesting facts and information.
              <% } else if(user.infoStage > 4){ %>
                Helloooooooo
              <% } %>
                </div>
          </div>
         </div>
       </div>
    <div class="quote-container">
      <div class="quote-box">
        <div class="box-header">
            Daily Quote
          </div>
     <div class="quote">
      <p class="quote-text"> 
        <%= quotes[user.totalDaysElapsed % 30].quote %>  
      </p> 
      <p class="author"><%= quotes[user.totalDaysElapsed % 30].author %> </p>
     </div>
    </div>
    </div>
   </div>
  </div>
   <!-- create modal -->
    <div class="modal-bg ">
      <div class="edit-modal"> 
        <div class="l-margin margin">  
          <div class="hole first-hole"></div>
          <div class="hole second-hole"></div>
          <div class="hole third-hole"></div>
        </div>
        <div class="r-margin margin"></div>
        <div class="modal-title">
          <span class="card-title">Enter your new Goal  :</span>
        </div>
        <div class="edit-info-container">
          <form action="/" method="post">
            <input autocomplete="off" id="modal-input" type="text" name="activity" >
            <div class="edit-btn-container">
            <button class="edit-submit" type="submit">Submit</button>
            </div>
            <div class="modal-close">
              <span >x</span>
            </div>
          </form>
        </div>
      </div>
    </div>
       
      <!-- edit modal -->
    <div class="edit-modal-bg ">
      <div class="edit-modal">
        <div class="l-margin margin">
          <div class="hole first-hole"></div>
          <div class="hole second-hole"></div>
          <div class="hole third-hole"></div>
        </div>
        <div class="r-margin margin"></div>
        <div class="modal-title">
          <span class="card-title">Edit Goal  :</span>
        </div>
        <div class="edit-info-container">
          <input autocomplete="off" id="edit-modal-input" type="text" name="activity">
          <div class="edit-modal-close">
            <span >x</span>
          </div>
        </div>
          <!-- buttons -->
        <div class="edit-btn-container">
          <button onclick ="deleteObject(event)" queryUser= "<%= user.id %>"  class="delete edit-submit">Delete</button>
          <button onclick ="confirmEdit(event)" queryUser= "<%= user.id %>"  class="edit-submit">Edit</button>
        </div>
      </div>
    </div>
              
              <!-- intro modal -->
    <%if(!user.wakeUp) { %>
      <div class="intro-modal-bg bg-active">
        <div class="intro-modal">  
          <div class="intro-modal-title"> 
            Welcome to BettrMe! 
          </div>
          <div class="message-container">
            <div class="intro-message">
              This app is designed to help you improve yourself! </br></br>Forming healthy habits is a great way improve quality of life and become the person you want to be! </br> </br> Let's start by getting to know you a bit better: 
            </div>
          </div>
          <form class="intro-form" action="/intro/<%= user.id %>?_method=PUT" method="POST">
            
            <div class="prompt">
              What should we call you?
            </div>
            <input autocomplete="off" class="intro-modal-input" type="text" name="name" >
            <div class="prompt ">
              What time do you typically start your day?
            </div>
              <div class="time-input-container">
              <input class="intro-modal-input wake-up"  type="time" name="wakeUp" >
              <label for="meridian"></label>            
              <select name="meridian" id="meridian">
                <option value="am">AM</option>
                <option value="pm">PM</option>
              </select>
              </div>
            <div class="intro-btn-container">
              <button type="submit" queryUser= "<%= user.id %>"  class="intro-submit">Begin</button>
            </div>    
        </form>
      </div>
    </div>
  <% } %>
  </div>
  </div>
 
  </body>
  
  </html>
 